---
export function getStaticPaths() {
  return [
    {params: {product: 'clifford'}},
    {params: {product: 'rover'}},
    {params: {product: 'spot'}},
  ];
}

const { product } = Astro.params;
---
<div>Good product, {product}!</div>