---
import products from "./mockdata.json"
import ProductCard from "../../components/products/Card.vue"
---
<div id="category" class="grid justify-center">
        <div class="">
            <h2 class="text-4xl underline mb-12 text-center font-bold md:ml-2 ml-6 mt-6">Semua product</h2>
            <div class="grid md:grid-cols-4 xl:gap-x-12 md:w-full">
                {
                    products.map((product) => (
                        <ProductCard id={product.id + ''} image={product.image} name={product.name} price={product.price} client:visible />
                        ))
                }
            </div>
        </div>
</div>