---
import Layout from '../layouts/Layout.astro';
import Hero from './index/Hero.astro';
import Categories from './index/Categories.astro';
import Testimonies from './index/Testimonies.astro';
---

<Layout title="Binhusenstore">
	<main>
		<Hero />
		<Categories />
		<Testimonies />
	</main>
</Layout>